@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  min-height:96.7vh;

  font-family: 'Poiret One', sans-serif;

  padding:1rem;
  margin:0;
  box-shadow:inset 1px 1px 5px 2px #ccc;
}

#root {
  padding:1rem;
  /*max-width:800px;*/
}

.grid {
	display:grid;
	grid-gap:1rem;
	grid-template-areas:'d3 victory' 'recharts reactvis';
}
@media screen and (max-width:1200px) {
	.grid { grid-template-areas:'d3' 'victory' 'recharts' 'reactvis'; }
}


.grid > section {
	border:1px solid #eee;
	padding:5px;
}
.grid .d3 { grid-area:d3; }
.grid .victory { grid-area:victory; }
.grid .recharts { grid-area:recharts; }
.grid .reactvis { grid-area:reactvis; }

